# Debian control filePath: soryos-apt/templates/control.template, content: | Source: {package} Section: {section} Priority: optional Maintainer: Ibrahima Sory Keita <sory@soryos.example> Build-Depends: {build_deps} Standards-Version: 4.6.0 Homepage: https://soryos.example/{package}  Package: {package} Architecture: {architecture} Version: {version} Depends: {shlibs:Depends}, {misc:Depends} Description: {description} {package} for SoryOS . {extended_description} 